{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<h1 align="center" style="margin: 15px">Blog Posts</h1>
<div class="container">
    {% for post in posts %}
        {% row "border-bottom" %}
            {% col "border-bottom" %}<!--<div class="col">-->
                <h3>{{ post.title }}</h3>
                {% if post.hero_image %}
                    <img src="{{ post.hero_image.thumbnail.200x200.url }}"/>
                {% endif %}
            <p class="lead">{{ post.summary }}</p>
            <div class="row">
                <div class="col-4">
                    ({{ post.content|wordcount }} words)
                </div>
                <div class="col" style="float: right;">
                    <h6 class="lead"> {% include "blog/post-byline.html" %}</h6>
                </div>
            </div>
            <div class="row" style="float: right;">
                <h3><a href="{% url 'blog-post-detail' post.slug %}">Read More</a></h3>
            </div>
            {% endcol %}
        {% endrow %}
    {% endfor %}
</div>
{% endblock %}
